#editModalTitle {
  font-size: 18px !important;
  font-weight: bold;
  margin-right: auto;
}

#switchFormGroup {
  margin-left: auto;
  margin-right: auto;
}

#switchLabel {
  height: 40px;
}

.removeButton {
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.8);
}

.multiRemoveButton {
  background-color: rgba(255, 0, 0, 0.8);
}