#headerTitleActive {
  justify-content: center;
}

#editModalTitle {
  margin-top: 8px;
  font-size: 18px !important;
  font-weight: bold;
  margin-right: auto;
}

.editButtons {
  border-radius: 8px;
  background-color: rgba(255, 200, 0, 0.8);
}

.addButton {
  border-radius: 8px;
  background-color: rgba(0, 255, 55, 0.8);
}

[col-id="addNew"] .ag-header-cell-comp-wrapper {
  justify-content: center;
}

#switchFormGroup {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#switchLabel {
  height: 40px;
}

#switchFormGroup .MuiSwitch-root {
  height: 40px;
}

