#headerTitleActive {
  justify-content: center;
}

.editButtons {
  border-radius: 8px;
  background-color: rgba(225, 200, 0, 0.8);
}

[col-id="addNew"] .ag-header-cell-comp-wrapper {
  justify-content: center;
  margin-left: 1px;
}
